In [92]:
import pandas as pd
from datetime import timedelta
from datetime import datetime

In [94]:
df = pd.read_excel("20230614_204050_Ritregistratie_awgx.xlsx")

In [95]:
df.head()

,Unit,Voertuig,Kenteken,Rit,Starttijd,Einddtijd,Chauffeur,Karakter,Van,Naar,Begin kmstand,Eind kmstand,Afstand (km),Ritduur,Opmerking
0,3255812,SKODA KAMIQ L567KS,L567KS,2188,2023-04-01 09:19:55,2023-04-01 09:26:54,NaN,Zakelijk,Onbekend,"Heereweg 44, 8891HT Midsland, Nederland",70140.9,70142.5,1.6,00:06:58,NaN
1,3255812,SKODA KAMIQ L567KS,L567KS,2189,2023-04-01 11:06:39,2023-04-01 11:11:33,NaN,Zakelijk,"Heereweg 44, 8891HT Midsland, Nederland","Duinweg Midsland 93-95, 8891 Midsland, Nederland",70142.5,70143.6,1.1,00:04:53,NaN
2,3255812,SKODA KAMIQ L567KS,L567KS,2190,2023-04-01 12:19:04,2023-04-01 12:26:22,NaN,Zakelijk,"Duinweg Midsland 93-95, 8891 Midsland, Nederland","Formerum 22, 8894KE Formerum, Nederland",70143.6,70147.0,3.4,00:07:18,NaN
3,3255812,SKODA KAMIQ L567KS,L567KS,2191,2023-04-01 12:37:27,2023-04-01 12:44:20,NaN,Zakelijk,"Formerum 22, 8894KE Formerum, Nederland","Duinweg Midsland 93-95, 8891 Midsland, Nederland",70147.0,70150.4,3.4,00:06:52,NaN
4,3255812,SKODA KAMIQ L567KS,L567KS,2192,2023-04-01 14:46:50,2023-04-01 14:52:03,NaN,Zakelijk,"Duinweg Midsland 93-95, 8891 Midsland, Nederland","Midsland aan Zee 395-397, 8891HV Midsland, Ned...",70150.4,70152.8,2.4,00:05:12,NaN

In [96]:
df = df.rename(columns={"Ritduur":"trip_duration", "Afstand (km)":"trip_distance_in_km", "Van":"start_gps_point", "Naar":"end_gps_point", "Starttijd":"start_trip_time", "Einddtijd":"end_trip_time"}   )

In [97]:
df = df[["start_trip_time", "end_trip_time", "start_gps_point", "end_gps_point", "trip_distance_in_km", "trip_duration"]]

In [88]:
df["trip_duration"] = pd.to_datetime(df["trip_duration"])

In [89]:
df["trip_duration"]

0     1970-01-01 00:00:00.000000058
1     1970-01-01 00:00:00.000000053
2     1970-01-01 00:00:00.000000018
3     1970-01-01 00:00:00.000000052
4     1970-01-01 00:00:00.000000012
                   ...
336   1970-01-01 00:00:00.000000050
337   1970-01-01 00:00:00.000000056
338   1970-01-01 00:00:00.000000011
339   1970-01-01 00:00:00.000000012
340   1970-01-01 00:00:00.000000059
Name: trip_duration, Length: 341, dtype: datetime64[ns]

In [ ]:

timestamp_str = "00:06:58"
timestamp_obj = datetime.strptime(timestamp_str, "%H:%M:%S")
total_seconds = timestamp_obj.hour * 3600 + timestamp_obj.minute * 60 + timestamp_obj.second

print(total_seconds)  # Output: 418

In [87]:
def to_seconds(timestamp_str):
    timestamp_obj = datetime.strptime(timestamp_str, "%H:%M:%S")
    total_seconds = timestamp_obj.hour * 3600 + timestamp_obj.minute * 60 + timestamp_obj.second
    return total_seconds

In [98]:
df["trip_duration"] = df.trip_duration.apply(lambda x: to_seconds(x))

In [99]:
df["trip_duration"]

0       418
1       293
2       438
3       412
4       312
       ...
336    3410
337    6236
338    1451
339    2112
340    5279
Name: trip_duration, Length: 341, dtype: int64