In [356]:
import numpy as np
import pandas as pd
import geopandas as gpd
import movingpandas as mpd
import shapely as shp
import matplotlib.pyplot as plt
import hvplot.pandas
from geopandas import GeoDataFrame, read_file
from shapely.geometry import Point, LineString, Polygon
from datetime import datetime, timedelta
from holoviews import opts, dim
from os.path import exists
from urllib.request import urlretrieve
import holoviews as hv
from fiona.crs import from_epsg
from geopy.geocoders import Nominatim
from haversine import haversine, Unit
import leafmap

import warnings
warnings.filterwarnings('ignore')
plot_defaults = {'linewidth':5, 'capstyle':'round', 'figsize':(9,3), 'legend':True}
opts.defaults(opts.Overlay(active_tools=['wheel_zoom'], frame_width=300, frame_height=500))
#hvplot_defaults = {'tiles':None, 'cmap':'Viridis', 'colorbar':True}

In [357]:
pd.set_option('display.max_colwidth', None) # To avoid truncated display of DataFrames

In [358]:
df = pd.read_excel("positiondump utc .xlsx", index_col = [0])

In [248]:
#df = df[df["IgnitionOn"] == 1]

In [359]:
df["long"] = df["GPSpoint"].apply(lambda x: x.split(",")[0])
df["lat"] = df["GPSpoint"].apply(lambda x: x.split(",")[-1])

In [361]:
#Convert Longs and Lats to floats. 

def cnvrtCoord(val: str) -> float:
    sgn = +1
    if val[0] == 'S' or val[0] == 'W':
        sgn = -1
    return float(val[1:]) * sgn  

df['long'] = [cnvrtCoord(x) for x in df['long'].tolist()]
df['lat'] = [cnvrtCoord(x) for x in df['lat'].tolist()]  

df.drop("GPSpoint", axis=1, inplace=True)

In [362]:
df['DateTimeOfPosition'] = pd.to_datetime(df['DateTimeOfPosition'])

In [363]:
df

                DateTimeOfPosition  IgnitionOn       long       lat
UnitpositionID
647751005      2023-06-14 18:15:03           0  52.203256  5.972714
647742914      2023-06-14 17:17:28           0  52.203289  5.972705
647742890      2023-06-14 17:17:23           0  52.203289  5.972705
647742726      2023-06-14 17:16:23           1  52.203792  5.975125
647742547      2023-06-14 17:15:23           1  52.200175  5.979859
...                            ...         ...        ...       ...
631418653      2023-04-01 09:22:53           1  53.391285  5.282144
631418504      2023-04-01 09:21:53           1  53.389952  5.274539
631418385      2023-04-01 09:20:53           1  53.389564  5.270365
631418242      2023-04-01 09:19:54           1  53.389274  5.269988
631414692      2023-04-01 08:50:30           0  53.389323  5.270153

[10697 rows x 4 columns]

In [9]:
traj = mpd.Trajectory(df[["DateTimeOfPosition", "long", "lat"]], "Allsetra", x='lat', y='long', t='DateTimeOfPosition', crs=4326)

In [10]:
splitted_traj = mpd.ObservationGapSplitter(traj).split(gap=timedelta(minutes=3))

In [11]:
dfs = [splitted.df for splitted in splitted_traj.trajectories]

combined_dfs = pd.concat(dfs)

In [12]:
combined_dfs

                                     geometry
DateTimeOfPosition
2023-04-01 09:19:54  POINT (5.26999 53.38927)
2023-04-01 09:20:53  POINT (5.27036 53.38956)
2023-04-01 09:21:53  POINT (5.27454 53.38995)
2023-04-01 09:22:53  POINT (5.28214 53.39129)
2023-04-01 09:23:53  POINT (5.28571 53.39155)
...                                       ...
2023-06-14 17:14:23  POINT (5.97857 52.19321)
2023-06-14 17:15:23  POINT (5.97986 52.20018)
2023-06-14 17:16:23  POINT (5.97513 52.20379)
2023-06-14 17:17:23  POINT (5.97271 52.20329)
2023-06-14 17:17:28  POINT (5.97271 52.20329)

[10438 rows x 1 columns]

In [13]:
data = {}
start_addrs = []
end_addrs = []
start_timestamps = []
end_timestamps = []
start_longs_and_lats = []
end_longs_and_lats = []
distances = []
durations = []

for idx, trajectory in enumerate(splitted_traj.trajectories):
        
    start_time = trajectory.df.index[0]
    end_time = trajectory.df.index[-1]
    
    start_timestamps.append(start_time)
    end_timestamps.append(end_time)
    
    #durations.append(str(end_time - start_time).split("days")[-1].split(".")[0])
    durations.append(end_time - start_time)

    start_xy = (trajectory.df["geometry"].x[0], trajectory.df["geometry"].y[0])
    end_xy = (trajectory.df["geometry"].x[-1], trajectory.df["geometry"].y[-1])
    
    
#     start_addrs.append(get_address_from_GeoPoint(trajectory.df["geometry"].iloc[0]))
#     end_addrs.append(get_address_from_GeoPoint(trajectory.df["geometry"].iloc[-1]))

    start_longs_and_lats.append(start_xy)
    end_longs_and_lats.append(end_xy)
    
    distances.append(haversine(start_xy, end_xy, unit=Unit.KILOMETERS))
    
# data["start_trip_addr"] = start_addrs
# data["end_trip_addr"] = end_addrs

data["start_trip_time"] = start_timestamps
data["end_trip_time"] = end_timestamps

data["start_gps_point"] = start_longs_and_lats
data["end_gps_point"] = end_longs_and_lats

data["trip_distance_in_km"] = distances

data["trip_duration"] = durations

In [14]:
splitted_df = pd.DataFrame(data)

In [15]:
splitted_df["trip_duration"].describe()

count                          325
mean     0 days 00:30:45.990769230
std      0 days 00:26:01.865196452
min                0 days 00:00:01
25%                0 days 00:07:29
50%                0 days 00:23:02
75%                0 days 00:47:19
max                0 days 01:55:20
Name: trip_duration, dtype: object

In [16]:
combined_dfs

                                     geometry
DateTimeOfPosition
2023-04-01 09:19:54  POINT (5.26999 53.38927)
2023-04-01 09:20:53  POINT (5.27036 53.38956)
2023-04-01 09:21:53  POINT (5.27454 53.38995)
2023-04-01 09:22:53  POINT (5.28214 53.39129)
2023-04-01 09:23:53  POINT (5.28571 53.39155)
...                                       ...
2023-06-14 17:14:23  POINT (5.97857 52.19321)
2023-06-14 17:15:23  POINT (5.97986 52.20018)
2023-06-14 17:16:23  POINT (5.97513 52.20379)
2023-06-14 17:17:23  POINT (5.97271 52.20329)
2023-06-14 17:17:28  POINT (5.97271 52.20329)

[10438 rows x 1 columns]

In [17]:
gdf = GeoDataFrame(combined_dfs)

## Recalculate trajectory

In [18]:
traj = mpd.Trajectory(combined_dfs, 1, crs=4326)

In [19]:
traj.df

                                     geometry
DateTimeOfPosition
2023-04-01 09:19:54  POINT (5.26999 53.38927)
2023-04-01 09:20:53  POINT (5.27036 53.38956)
2023-04-01 09:21:53  POINT (5.27454 53.38995)
2023-04-01 09:22:53  POINT (5.28214 53.39129)
2023-04-01 09:23:53  POINT (5.28571 53.39155)
...                                       ...
2023-06-14 17:14:23  POINT (5.97857 52.19321)
2023-06-14 17:15:23  POINT (5.97986 52.20018)
2023-06-14 17:16:23  POINT (5.97513 52.20379)
2023-06-14 17:17:23  POINT (5.97271 52.20329)
2023-06-14 17:17:28  POINT (5.97271 52.20329)

[10438 rows x 1 columns]

In [20]:
traj_col = mpd.StopSplitter(traj).split(max_diameter=200, min_duration=timedelta(seconds=180))

In [21]:
data = {}
start_addrs = []
end_addrs = []
start_timestamps = []
end_timestamps = []
start_longs_and_lats = []
end_longs_and_lats = []
distances = []
durations = []

for idx, trajectory in enumerate(traj_col.trajectories):
        
    start_time = trajectory.df.index[0]
    end_time = trajectory.df.index[-1]
    
    start_timestamps.append(start_time)
    end_timestamps.append(end_time)
    
    #durations.append(str(end_time - start_time).split("days")[-1].split(".")[0])
    durations.append(end_time - start_time)

    start_xy = (trajectory.df["geometry"].x[0], trajectory.df["geometry"].y[0])
    end_xy = (trajectory.df["geometry"].x[-1], trajectory.df["geometry"].y[-1])
    
    
#     start_addrs.append(get_address_from_GeoPoint(trajectory.df["geometry"].iloc[0]))
#     end_addrs.append(get_address_from_GeoPoint(trajectory.df["geometry"].iloc[-1]))

    start_longs_and_lats.append(start_xy)
    end_longs_and_lats.append(end_xy)
    
    distances.append(haversine(start_xy, end_xy, unit=Unit.KILOMETERS))
    
# data["start_trip_addr"] = start_addrs
# data["end_trip_addr"] = end_addrs

data["start_trip_time"] = start_timestamps
data["end_trip_time"] = end_timestamps

data["start_gps_point"] = start_longs_and_lats
data["end_gps_point"] = end_longs_and_lats

data["trip_distance_in_km"] = distances

data["trip_duration"] = durations

In [22]:
final_df = pd.DataFrame(data)

In [23]:
final_df.sort_values("trip_distance_in_km")

,start_trip_time,end_trip_time,start_gps_point,end_gps_point,trip_distance_in_km,trip_duration
242,2023-05-23 14:02:23,2023-05-23 14:02:54,"(5.138236, 51.805305)","(5.138526, 51.80536)",0.032817,0 days 00:00:31
279,2023-05-31 10:09:19,2023-05-31 10:11:19,"(4.266264, 51.948608)","(4.266095, 51.949544)",0.105478,0 days 00:02:00
176,2023-05-12 10:19:04,2023-05-12 10:19:36,"(5.475605, 52.230535)","(5.476698, 52.230639)",0.122080,0 days 00:00:32
283,2023-05-31 12:01:47,2023-05-31 12:02:46,"(4.302497, 52.107512)","(4.302994, 52.106496)",0.125481,0 days 00:00:59
205,2023-05-17 08:47:09,2023-05-17 08:48:09,"(6.36022, 51.903295)","(6.359983, 51.901352)",0.216333,0 days 00:01:00
...,...,...,...,...,...,...
13,2023-04-03 17:14:40,2023-04-03 18:47:38,"(5.217039, 53.357044)","(5.973632, 52.203424)",152.892231,0 days 01:32:58
339,2023-06-13 09:29:39,2023-06-13 11:13:35,"(6.002124, 51.185532)","(4.84507, 51.932242)",152.922515,0 days 01:43:56
171,2023-05-10 15:45:33,2023-05-10 17:39:31,"(4.610482, 51.561118)","(5.973216, 52.203351)",167.383830,0 days 01:53:58
285,2023-05-31 15:02:56,2023-05-31 16:46:34,"(4.435926, 52.21384)","(5.973557, 52.203344)",170.980953,0 days 01:43:38
277,2023-05-31 06:25:58,2023-05-31 08:13:31,"(5.976286, 52.193825)","(4.236802, 51.857055)",196.985192,0 days 01:47:33

In [24]:

cleaned_df = final_df[(final_df['trip_duration'].dt.seconds >= 180) & (final_df['trip_distance_in_km'] >= 0.2)]
#cleaned_df = final_df[final_df['trip_distance_in_km'] >= 0.2]

In [25]:
cleaned_df["trip_duration"].describe()

count                          290
mean     0 days 00:35:43.124137931
std      0 days 01:00:08.352466274
min                0 days 00:03:00
25%         0 days 00:12:39.750000
50%         0 days 00:27:19.500000
75%         0 days 00:46:19.250000
max                0 days 15:36:30
Name: trip_duration, dtype: object

In [26]:
cleaned_df.sort_values("trip_duration", ascending=False)

,start_trip_time,end_trip_time,start_gps_point,end_gps_point,trip_distance_in_km,trip_duration
261,2023-05-26 19:57:02,2023-05-27 11:33:32,"(5.96819, 52.205382)","(5.919916, 52.206444)",5.369116,0 days 15:36:30
231,2023-05-22 11:27:05,2023-05-22 16:37:57,"(5.567698, 52.042289)","(5.379752, 52.158749)",24.554534,0 days 05:10:52
171,2023-05-10 15:45:33,2023-05-10 17:39:31,"(4.610482, 51.561118)","(5.973216, 52.203351)",167.383830,0 days 01:53:58
191,2023-05-16 07:25:00,2023-05-16 09:18:01,"(5.974655, 52.203694)","(5.06647, 51.586308)",121.931356,0 days 01:53:01
277,2023-05-31 06:25:58,2023-05-31 08:13:31,"(5.976286, 52.193825)","(4.236802, 51.857055)",196.985192,0 days 01:47:33
...,...,...,...,...,...,...
248,2023-05-24 09:47:18,2023-05-24 09:50:44,"(4.874577, 52.415514)","(4.883369, 52.410742)",1.111431,0 days 00:03:26
57,2023-04-15 11:08:43,2023-04-15 11:12:01,"(5.965575, 52.200122)","(5.974001, 52.203439)",1.006183,0 days 00:03:18
179,2023-05-13 08:21:44,2023-05-13 08:24:54,"(5.973286, 52.203734)","(5.967759, 52.200595)",0.705843,0 days 00:03:10
183,2023-05-13 11:17:06,2023-05-13 11:20:10,"(5.975727, 52.204582)","(5.980401, 52.200736)",0.671581,0 days 00:03:04
273,2023-05-30 15:50:32,2023-05-30 15:53:32,"(6.751147, 52.301627)","(6.75687, 52.295296)",0.945354,0 days 00:03:00

In [27]:
cleaned_df["ratio"] = cleaned_df.apply(lambda x:  (x["trip_distance_in_km"]*1000) / x["trip_duration"].seconds, axis=1)

In [28]:
cleaned_df.sort_values("ratio")

,start_trip_time,end_trip_time,start_gps_point,end_gps_point,trip_distance_in_km,trip_duration,ratio
261,2023-05-26 19:57:02,2023-05-27 11:33:32,"(5.96819, 52.205382)","(5.919916, 52.206444)",5.369116,0 days 15:36:30,0.095553
266,2023-05-28 14:22:36,2023-05-28 14:40:06,"(5.976167, 52.203965)","(5.973822, 52.203504)",0.265690,0 days 00:17:30,0.253038
12,2023-04-03 14:24:33,2023-04-03 14:48:33,"(5.215817, 53.361864)","(5.216866, 53.358065)",0.436552,0 days 00:24:00,0.303161
231,2023-05-22 11:27:05,2023-05-22 16:37:57,"(5.567698, 52.042289)","(5.379752, 52.158749)",24.554534,0 days 05:10:52,1.316456
78,2023-04-20 17:05:43,2023-04-20 17:12:07,"(6.102115, 52.502184)","(6.106574, 52.505095)",0.591123,0 days 00:06:24,1.539382
...,...,...,...,...,...,...,...
219,2023-05-19 06:29:11,2023-05-19 07:02:00,"(5.97396, 52.202439)","(5.376842, 52.154885)",66.604753,0 days 00:32:49,33.826690
291,2023-06-01 12:19:34,2023-06-01 13:07:45,"(6.167862, 52.545691)","(5.377182, 52.155059)",97.966721,0 days 00:48:11,33.886794
274,2023-05-30 15:57:32,2023-05-30 16:39:44,"(6.758112, 52.294812)","(5.984275, 52.24023)",86.258014,0 days 00:42:12,34.067146
309,2023-06-06 12:11:19,2023-06-06 12:47:19,"(6.311119, 53.167489)","(5.742669, 52.817516)",74.115107,0 days 00:36:00,34.312550
268,2023-05-30 10:20:00,2023-05-30 10:57:34,"(6.919457, 52.734559)","(6.197977, 52.711647)",80.264942,0 days 00:37:34,35.610001

In [130]:
cleaned_df[cleaned_df["ratio"] > 1.0]

,start_trip_time,end_trip_time,start_gps_point,end_gps_point,trip_distance_in_km,trip_duration,ratio
0,2023-04-01 09:19:54,2023-04-01 09:23:53,"(5.269988, 53.389274)","(5.28571, 53.391549)",1.766263,0 days 00:03:59,7.390224
1,2023-04-01 11:07:38,2023-04-01 11:11:32,"(5.284403, 53.391597)","(5.269931, 53.388944)",1.635806,0 days 00:03:54,6.990626
2,2023-04-01 12:19:03,2023-04-01 12:26:22,"(5.270962, 53.389109)","(5.306682, 53.389323)",3.971959,0 days 00:07:19,9.047742
3,2023-04-01 12:37:27,2023-04-01 12:44:19,"(5.306676, 53.389332)","(5.269951, 53.388914)",4.083902,0 days 00:06:52,9.912382
4,2023-04-01 14:47:48,2023-04-01 14:52:01,"(5.272201, 53.389177)","(5.28636, 53.402797)",2.180136,0 days 00:04:13,8.617139
...,...,...,...,...,...,...,...
340,2023-06-13 12:26:03,2023-06-13 12:49:16,"(4.846854, 51.931568)","(4.917714, 51.74426)",22.197637,0 days 00:23:13,15.935131
341,2023-06-13 13:19:15,2023-06-13 13:49:15,"(4.916819, 51.742863)","(5.0676, 51.589485)",23.869822,0 days 00:30:00,13.261012
342,2023-06-13 14:48:58,2023-06-13 16:16:57,"(5.067325, 51.58887)","(5.973399, 52.203352)",121.556916,0 days 01:27:59,23.026504
343,2023-06-14 06:43:06,2023-06-14 07:38:21,"(5.974457, 52.203751)","(5.376879, 52.154919)",66.667055,0 days 00:55:15,20.110726
344,2023-06-14 16:34:24,2023-06-14 17:17:28,"(5.376417, 52.155489)","(5.972705, 52.203289)",66.514910,0 days 00:43:04,25.741064

In [102]:
index_df.index[index_df["DateTimeOfPosition"] == "2023-05-26 19:57:02"].tolist()

[2922]

In [100]:
index_df = df.reset_index()

In [113]:
#index_df[2900:2925]

In [112]:
lat, long = (52.205382, 5.968190)
lat1, long1 = (52.206444, 5.919916)
haversine((lat, long), (lat1, long1))

3.291662790411985

## Finding Stop using IgnitionOn

In [366]:
df.sort_values("DateTimeOfPosition", inplace=True)

In [367]:
df

                DateTimeOfPosition  IgnitionOn       long       lat
UnitpositionID
631414692      2023-04-01 08:50:30           0  53.389323  5.270153
631418242      2023-04-01 09:19:54           1  53.389274  5.269988
631418385      2023-04-01 09:20:53           1  53.389564  5.270365
631418504      2023-04-01 09:21:53           1  53.389952  5.274539
631418653      2023-04-01 09:22:53           1  53.391285  5.282144
...                            ...         ...        ...       ...
647742547      2023-06-14 17:15:23           1  52.200175  5.979859
647742726      2023-06-14 17:16:23           1  52.203792  5.975125
647742890      2023-06-14 17:17:23           0  52.203289  5.972705
647742914      2023-06-14 17:17:28           0  52.203289  5.972705
647751005      2023-06-14 18:15:03           0  52.203256  5.972714

[10697 rows x 4 columns]

In [42]:

last_val = df.IgnitionOn.iloc[0]

In [125]:
dfcpy = df.copy()

In [163]:
dfcpy[:25]

,index,UnitpositionID,DateTimeOfPosition,IgnitionOn,long,lat,HaversineDistance
0,10696,631414692,2023-04-01 08:50:30,0,53.389323,5.270153,None
1,10695,631418242,2023-04-01 09:19:54,1,53.389274,5.269988,19.132581
2,10694,631418385,2023-04-01 09:20:53,1,53.389564,5.270365,52.805309
3,10693,631418504,2023-04-01 09:21:53,1,53.389952,5.274539,466.112333
4,10692,631418653,2023-04-01 09:22:53,1,53.391285,5.282144,858.422248
5,10691,631418767,2023-04-01 09:23:53,1,53.391549,5.285710,397.597612
6,10690,631418902,2023-04-01 09:24:53,1,53.392134,5.283950,206.143853
7,10689,631419027,2023-04-01 09:25:53,1,53.391772,5.284025,40.939971
8,10688,631419170,2023-04-01 09:26:53,0,53.392237,5.284695,90.560248
9,10687,631432987,2023-04-01 11:06:38,1,53.392189,5.284687,5.388609
10,10686,631433148,2023-04-01 11:07:38,1,53.391597,5.284403,72.758221
11,10685,631433307,2023-04-01 11:08:38,1,53.390167,5.276463,896.974125
12,10684,631433458,2023-04-01 11:09:38,1,53.388979,5.271317,587.134621
13,10683,631433630,2023-04-01 11:10:38,1,53.388952,5.269975,149.253741
14,10682,631433754,2023-04-01 11:11:32,0,53.388944,5.269931,4.972124
15,10681,631444403,2023-04-01 12:19:03,1,53.389109,5.270962,116.088744
16,10680,631444538,2023-04-01 12:20:02,1,53.390326,5.277440,732.817409
17,10679,631444691,2023-04-01 12:21:02,1,53.390869,5.284699,809.401142
18,10678,631444803,2023-04-01 12:22:02,1,53.384992,5.284876,651.013184
19,10677,631444963,2023-04-01 12:23:03,1,53.384644,5.292027,796.089031
20,10676,631445093,2023-04-01 12:24:02,1,53.386519,5.298219,719.136914
21,10675,631445249,2023-04-01 12:25:03,1,53.389172,5.307022,1021.973559
22,10674,631445371,2023-04-01 12:26:03,1,53.389413,5.306874,31.349941
23,10673,631445410,2023-04-01 12:26:22,0,53.389323,5.306682,23.560428
24,10672,631446840,2023-04-01 12:37:27,1,53.389332,5.306676,1.199192

In [368]:
df.reset_index(inplace=True)

In [372]:
df.drop_duplicates(subset="DateTimeOfPosition", inplace=True)

In [373]:
toggles = []
double_zeros = []
data = {}
for i in range(1, len(df)):
    if df.IgnitionOn.iloc[i] != df.IgnitionOn.iloc[i-1]:
        duration_diff = (df.DateTimeOfPosition.iloc[i] - df.DateTimeOfPosition.iloc[i-1])
        distance = haversine((df.lat.iloc[i], df.long.iloc[i]), (df.lat.iloc[i-1], df.long.iloc[i-1]), Unit.METERS)
        if  df.IgnitionOn.iloc[i] == 0:
            if (i+1) < len(df) and df.IgnitionOn.iloc[i] == df.IgnitionOn.iloc[i+1]:
                double_zeros.append(i+1)
            toggles.append((i, df.DateTimeOfPosition.iloc[i] - df.DateTimeOfPosition.iloc[i-1], df.DateTimeOfPosition.iloc[i]))
            data["DateTimeOfPosition"] = df.DateTimeOfPosition.iloc[i]
            data["IgnitionOn"] = df.IgnitionOn.iloc[i]
            #print("toggled")
    #print(df.IgnitionOn.iloc[i] != df.IgnitionOn.iloc[i-1], df.IgnitionOn.iloc[i])

In [255]:
#df.head(50) #2023-04-18 08:23:24

In [375]:
toggles

[(8, Timedelta('0 days 00:01:00'), Timestamp('2023-04-01 09:26:53')),
 (14, Timedelta('0 days 00:00:54'), Timestamp('2023-04-01 11:11:32')),
 (23, Timedelta('0 days 00:00:19'), Timestamp('2023-04-01 12:26:22')),
 (31, Timedelta('0 days 00:00:53'), Timestamp('2023-04-01 12:44:19')),
 (38, Timedelta('0 days 00:00:13'), Timestamp('2023-04-01 14:52:01')),
 (46, Timedelta('0 days 00:01:00'), Timestamp('2023-04-01 15:57:32')),
 (60, Timedelta('0 days 00:00:14'), Timestamp('2023-04-01 18:14:07')),
 (75, Timedelta('0 days 00:00:28'), Timestamp('2023-04-01 20:03:54')),
 (90, Timedelta('0 days 00:00:18'), Timestamp('2023-04-03 09:53:25')),
 (100, Timedelta('0 days 00:00:21'), Timestamp('2023-04-03 10:11:46')),
 (118, Timedelta('0 days 00:00:29'), Timestamp('2023-04-03 11:26:14')),
 (124, Timedelta('0 days 00:01:00'), Timestamp('2023-04-03 12:37:32')),
 (180, Timedelta('0 days 00:01:00'), Timestamp('2023-04-03 15:15:33')),
 (275, Timedelta('0 days 00:00:58'), Timestamp('2023-04-03 18:47:38')),
 (321, Timedelta('0 days 00:00:27'), Timestamp('2023-04-04 07:01:32')),
 (379, Timedelta('0 days 00:00:45'), Timestamp('2023-04-04 17:47:58')),
 (431, Timedelta('0 days 00:00:18'), Timestamp('2023-04-05 08:16:48')),
 (475, Timedelta('0 days 00:00:45'), Timestamp('2023-04-05 10:09:23')),
 (526, Timedelta('0 days 00:00:37'), Timestamp('2023-04-05 12:28:09')),
 (582, Timedelta('0 days 00:00:09'), Timestamp('2023-04-05 18:11:22')),
 (627, Timedelta('0 days 00:01:00'), Timestamp('2023-04-06 07:16:05')),
 (691, Timedelta('0 days 00:00:14'), Timestamp('2023-04-06 17:44:54')),
 (699, Timedelta('0 days 00:00:25'), Timestamp('2023-04-07 07:17:18')),
 (729, Timedelta('0 days 00:00:43'), Timestamp('2023-04-07 07:49:48')),
 (749, Timedelta('0 days 00:00:09'), Timestamp('2023-04-07 09:24:06')),
 (819, Timedelta('0 days 00:00:34'), Timestamp('2023-04-07 17:24:14')),
 (830, Timedelta('0 days 00:00:39'), Timestamp('2023-04-08 09:04:35')),
 (840, Timedelta('0 days 00:00:26'), Timestamp('2023-04-08 09:32:20')),
 (844, Timedelta('0 days 00:00:25'), Timestamp('2023-04-08 09:46:17')),
 (908, Timedelta('0 days 00:00:27'), Timestamp('2023-04-08 12:27:53')),
 (939, Timedelta('0 days 00:00:34'), Timestamp('2023-04-08 15:21:20')),
 (969, Timedelta('0 days 00:00:36'), Timestamp('2023-04-08 15:51:46')),
 (973, Timedelta('0 days 00:00:25'), Timestamp('2023-04-08 16:12:11')),
 (999, Timedelta('0 days 00:01:00'), Timestamp('2023-04-09 14:34:10')),
 (1025, Timedelta('0 days 00:00:33'), Timestamp('2023-04-09 16:38:01')),
 (1031, Timedelta('0 days 00:00:55'), Timestamp('2023-04-10 08:49:32')),
 (1038, Timedelta('0 days 00:00:35'), Timestamp('2023-04-10 09:56:47')),
 (1075, Timedelta('0 days 00:00:23'), Timestamp('2023-04-10 11:12:41')),
 (1116, Timedelta('0 days 00:00:41'), Timestamp('2023-04-10 12:33:17')),
 (1120, Timedelta('0 days 00:00:59'), Timestamp('2023-04-10 12:42:35')),
 (1162, Timedelta('0 days 00:00:10'), Timestamp('2023-04-11 07:51:23')),
 (1198, Timedelta('0 days 00:00:27'), Timestamp('2023-04-11 15:13:52')),
 (1202, Timedelta('0 days 00:01:00'), Timestamp('2023-04-11 15:21:11')),
 (1220, Timedelta('0 days 00:00:42'), Timestamp('2023-04-12 08:50:50')),
 (1266, Timedelta('0 days 00:00:34'), Timestamp('2023-04-12 10:41:37')),
 (1319, Timedelta('0 days 00:00:38'), Timestamp('2023-04-12 17:56:34')),
 (1325, Timedelta('0 days 00:00:13'), Timestamp('2023-04-13 07:53:23')),
 (1362, Timedelta('0 days 00:01:01'), Timestamp('2023-04-13 08:32:07')),
 (1367, Timedelta('0 days 00:01:00'), Timestamp('2023-04-13 09:45:07')),
 (1387, Timedelta('0 days 00:00:50'), Timestamp('2023-04-13 10:03:31')),
 (1462, Timedelta('0 days 00:00:36'), Timestamp('2023-04-13 12:42:02')),
 (1522, Timedelta('0 days 00:00:29'), Timestamp('2023-04-13 17:22:57')),
 (1578, Timedelta('0 days 00:00:54'), Timestamp('2023-04-13 22:46:03')),
 (1617, Timedelta('0 days 00:00:14'), Timestamp('2023-04-14 07:12:52')),
 (1676, Timedelta('0 days 00:00:13'), Timestamp('2023-04-14 17:55:12')),
 (1682, Timedelta('0 days 00:00:48'), Timestamp('2023-04-15 10:06:10')),
 (1688, Timedelta('0 days 00:00:38'), Timestamp('2023-04-15 10:44:43')),
 (1707, Timedelta('0 days 00:00:18'), Timestamp('2023-04-15 11:12:01')),
 (1764, Timedelta('0 days 00:00:42'), Timestamp('2023-04-15 12:29:41')),
 (1858, Timedelta('0 days 00:00:40'), Timestamp('2023-04-15 15:03:54')),
 (1872, Timedelta('0 days 00:00:24'), Timestamp('2023-04-15 15:21:53')),
 (1895, Timedelta('0 days 00:00:21'), Timestamp('2023-04-15 16:54:12')),
 (1901, Timedelta('0 days 00:00:47'), Timestamp('2023-04-16 08:53:34')),
 (1935, Timedelta('0 days 00:01:00'), Timestamp('2023-04-16 09:29:18')),
 (1955, Timedelta('0 days 00:00:14'), Timestamp('2023-04-16 09:52:29')),
 (2012, Timedelta('0 days 00:00:25'), Timestamp('2023-04-16 15:26:09')),
 (2058, Timedelta('0 days 00:00:31'), Timestamp('2023-04-17 07:18:24')),
 (2064, Timedelta('0 days 00:00:45'), Timestamp('2023-04-17 17:00:32')),
 (2110, Timedelta('0 days 00:00:55'), Timestamp('2023-04-17 18:35:24')),
 (2123, Timedelta('0 days 00:00:28'), Timestamp('2023-04-18 07:54:29')),
 (2126, Timedelta('0 days 00:00:26'), Timestamp('2023-04-18 07:58:28')),
 (2129, Timedelta('0 days 00:00:08'), Timestamp('2023-04-18 08:23:24')),
 (2174, Timedelta('0 days 00:00:48'), Timestamp('2023-04-18 09:08:07')),
 (2227, Timedelta('0 days 00:00:28'), Timestamp('2023-04-18 18:12:07')),
 (2270, Timedelta('0 days 00:00:37'), Timestamp('2023-04-19 06:38:19')),
 (2317, Timedelta('0 days 00:01:00'), Timestamp('2023-04-19 16:15:26')),
 (2367, Timedelta('0 days 00:00:59'), Timestamp('2023-04-20 07:18:21')),
 (2452, Timedelta('0 days 00:00:49'), Timestamp('2023-04-20 14:53:02')),
 (2474, Timedelta('0 days 00:00:11'), Timestamp('2023-04-20 16:20:11')),
 (2482, Timedelta('0 days 00:00:25'), Timestamp('2023-04-20 17:12:07')),
 (2522, Timedelta('0 days 00:00:57'), Timestamp('2023-04-20 20:49:22')),
 (2525, Timedelta('0 days 00:00:43'), Timestamp('2023-04-20 20:54:11')),
 (2531, Timedelta('0 days 00:00:09'), Timestamp('2023-04-21 06:31:56')),
 (2565, Timedelta('0 days 00:00:49'), Timestamp('2023-04-21 07:08:16')),
 (2594, Timedelta('0 days 00:01:00'), Timestamp('2023-04-21 09:16:23')),
 (2628, Timedelta('0 days 00:00:28'), Timestamp('2023-04-21 09:49:32')),
 (2686, Timedelta('0 days 00:00:14'), Timestamp('2023-04-21 12:33:42')),
 (2746, Timedelta('0 days 00:00:40'), Timestamp('2023-04-21 17:54:56')),
 (2777, Timedelta('0 days 00:00:51'), Timestamp('2023-04-22 07:25:12')),
 (2779, Timedelta('0 days 00:00:13'), Timestamp('2023-04-22 07:25:44')),
 (2787, Timedelta('0 days 00:00:12'), Timestamp('2023-04-22 07:33:52')),
 (2794, Timedelta('0 days 00:00:14'), Timestamp('2023-04-22 18:18:55')),
 (2828, Timedelta('0 days 00:01:00'), Timestamp('2023-04-22 18:53:50')),
 (2835, Timedelta('0 days 00:00:44'), Timestamp('2023-04-23 11:58:56')),
 (2839, Timedelta('0 days 00:00:49'), Timestamp('2023-04-23 12:11:21')),
 (2892, Timedelta('0 days 00:01:58'), Timestamp('2023-04-24 07:23:33')),
 (2901, Timedelta('0 days 00:00:29'), Timestamp('2023-04-24 16:50:29')),
 (2948, Timedelta('0 days 00:00:09'), Timestamp('2023-04-24 18:28:36')),
 (3007, Timedelta('0 days 00:00:24'), Timestamp('2023-04-25 07:32:07')),
 (3041, Timedelta('0 days 00:00:33'), Timestamp('2023-04-25 08:08:13')),
 (3072, Timedelta('0 days 00:00:12'), Timestamp('2023-04-25 11:02:01')),
 (3116, Timedelta('0 days 00:00:11'), Timestamp('2023-04-25 12:09:23')),
 (3155, Timedelta('0 days 00:00:15'), Timestamp('2023-04-25 12:53:08')),
 (3199, Timedelta('0 days 00:01:00'), Timestamp('2023-04-25 17:52:06')),
 (3206, Timedelta('0 days 00:00:13'), Timestamp('2023-04-26 07:30:32')),
 (3226, Timedelta('0 days 00:00:19'), Timestamp('2023-04-26 07:51:32')),
 (3310, Timedelta('0 days 00:00:14'), Timestamp('2023-04-26 09:32:36')),
 (3330, Timedelta('0 days 00:00:22'), Timestamp('2023-04-26 10:26:29')),
 (3349, Timedelta('0 days 00:00:38'), Timestamp('2023-04-26 12:01:09')),
 (3371, Timedelta('0 days 00:01:00'), Timestamp('2023-04-26 12:45:31')),
 (3381, Timedelta('0 days 00:00:34'), Timestamp('2023-04-26 12:59:33')),
 (3435, Timedelta('0 days 00:00:49'), Timestamp('2023-04-26 14:14:04')),
 (3490, Timedelta('0 days 00:00:48'), Timestamp('2023-04-26 18:19:23')),
 (3495, Timedelta('0 days 00:00:58'), Timestamp('2023-04-27 10:50:17')),
 (3499, Timedelta('0 days 00:00:45'), Timestamp('2023-04-27 11:01:13')),
 (3516, Timedelta('0 days 00:00:58'), Timestamp('2023-04-27 14:15:14')),
 (3523, Timedelta('0 days 00:00:09'), Timestamp('2023-04-27 15:33:42')),
 (3543, Timedelta('0 days 00:00:13'), Timestamp('2023-04-27 16:46:52')),
 (3582, Timedelta('0 days 00:01:00'), Timestamp('2023-04-28 07:48:23')),
 (3593, Timedelta('0 days 00:00:59'), Timestamp('2023-04-28 08:48:22')),
 (3653, Timedelta('0 days 00:00:51'), Timestamp('2023-04-28 17:08:56')),
 (3678, Timedelta('0 days 00:00:39'), Timestamp('2023-04-28 19:02:37')),
 (3698, Timedelta('0 days 00:00:42'), Timestamp('2023-04-28 23:17:58')),
 (3736, Timedelta('0 days 00:00:13'), Timestamp('2023-04-29 08:22:16')),
 (3763, Timedelta('0 days 00:00:34'), Timestamp('2023-04-29 08:50:00')),
 (3765, Timedelta('0 days 00:00:17'), Timestamp('2023-04-29 09:08:21')),
 (3767, Timedelta('0 days 00:00:15'), Timestamp('2023-04-29 09:14:48')),
 (3776, Timedelta('0 days 00:00:45'), Timestamp('2023-04-29 09:25:47')),
 (3778, Timedelta('0 days 00:00:51'), Timestamp('2023-04-29 09:28:25')),
 (3780, Timedelta('0 days 00:00:55'), Timestamp('2023-04-29 10:35:14')),
 (3783, Timedelta('0 days 00:00:17'), Timestamp('2023-04-29 10:42:15')),
 (3795, Timedelta('0 days 00:00:43'), Timestamp('2023-04-29 10:55:41')),
 (3797, Timedelta('0 days 00:00:20'), Timestamp('2023-04-29 10:56:15')),
 (3804, Timedelta('0 days 00:00:53'), Timestamp('2023-04-29 12:17:25')),
 (3815, Timedelta('0 days 00:00:24'), Timestamp('2023-04-29 13:12:49')),
 (3822, Timedelta('0 days 00:00:32'), Timestamp('2023-04-29 14:49:17')),
 (3848, Timedelta('0 days 00:00:46'), Timestamp('2023-04-29 15:39:47')),
 (3850, Timedelta('0 days 00:00:42'), Timestamp('2023-04-29 15:43:00')),
 (3870, Timedelta('0 days 00:00:50'), Timestamp('2023-04-29 16:10:32')),
 (3880, Timedelta('0 days 00:00:53'), Timestamp('2023-04-29 16:31:33')),
 (3888, Timedelta('0 days 00:00:31'), Timestamp('2023-04-29 16:52:55')),
 (3945, Timedelta('0 days 00:00:51'), Timestamp('2023-04-29 18:20:39')),
 (3949, Timedelta('0 days 00:00:21'), Timestamp('2023-04-29 18:28:37')),
 (3975, Timedelta('0 days 00:00:56'), Timestamp('2023-04-30 12:48:20')),
 (3993, Timedelta('0 days 00:00:11'), Timestamp('2023-04-30 13:50:56')),
 (4010, Timedelta('0 days 00:00:42'), Timestamp('2023-04-30 16:17:26')),
 (4041, Timedelta('0 days 00:00:22'), Timestamp('2023-04-30 20:24:34')),
 (4047, Timedelta('0 days 00:00:22'), Timestamp('2023-05-01 06:42:16')),
 (4083, Timedelta('0 days 00:00:43'), Timestamp('2023-05-01 07:20:29')),
 (4088, Timedelta('0 days 00:00:25'), Timestamp('2023-05-01 16:37:33')),
 (4094, Timedelta('0 days 00:00:20'), Timestamp('2023-05-01 17:33:45')),
 (4143, Timedelta('0 days 00:00:20'), Timestamp('2023-05-01 18:23:46')),
 (4197, Timedelta('0 days 00:00:41'), Timestamp('2023-05-02 07:50:41')),
 (4214, Timedelta('0 days 00:00:46'), Timestamp('2023-05-02 09:20:04')),
 (4262, Timedelta('0 days 00:00:39'), Timestamp('2023-05-02 10:19:42')),
 (4268, Timedelta('0 days 00:00:12'), Timestamp('2023-05-02 16:39:22')),
 (4311, Timedelta('0 days 00:00:47'), Timestamp('2023-05-02 18:13:25')),
 (4352, Timedelta('0 days 00:00:35'), Timestamp('2023-05-03 07:47:53')),
 (4384, Timedelta('0 days 00:00:31'), Timestamp('2023-05-03 09:52:42')),
 (4431, Timedelta('0 days 00:00:57'), Timestamp('2023-05-03 17:36:43')),
 (4445, Timedelta('0 days 00:00:28'), Timestamp('2023-05-03 20:22:55')),
 (4485, Timedelta('0 days 00:00:39'), Timestamp('2023-05-04 07:12:22')),
 (4535, Timedelta('0 days 00:00:19'), Timestamp('2023-05-04 17:59:34')),
 (4573, Timedelta('0 days 00:00:51'), Timestamp('2023-05-05 07:14:26')),
 (4617, Timedelta('0 days 00:00:53'), Timestamp('2023-05-05 17:21:12')),
 (4640, Timedelta('0 days 00:00:41'), Timestamp('2023-05-06 08:54:29')),
 (4642, Timedelta('0 days 00:00:17'), Timestamp('2023-05-06 09:00:31')),
 (4644, Timedelta('0 days 00:00:41'), Timestamp('2023-05-06 14:04:31')),
 (4668, Timedelta('0 days 00:01:00'), Timestamp('2023-05-06 21:40:45')),
 (4694, Timedelta('0 days 00:00:51'), Timestamp('2023-05-07 12:41:34')),
 (4701, Timedelta('0 days 00:00:15'), Timestamp('2023-05-07 12:48:42')),
 (4714, Timedelta('0 days 00:00:53'), Timestamp('2023-05-07 13:09:56')),
 (4764, Timedelta('0 days 00:00:59'), Timestamp('2023-05-08 07:21:33')),
 (4801, Timedelta('0 days 00:00:32'), Timestamp('2023-05-08 20:49:14')),
 (4806, Timedelta('0 days 00:00:59'), Timestamp('2023-05-09 07:24:27')),
 (4913, Timedelta('0 days 00:00:43'), Timestamp('2023-05-09 09:12:37')),
 (4951, Timedelta('0 days 00:00:17'), Timestamp('2023-05-09 14:01:54')),
 (5003, Timedelta('0 days 00:00:19'), Timestamp('2023-05-09 18:13:18')),
 (5081, Timedelta('0 days 00:00:54'), Timestamp('2023-05-10 08:56:19')),
 (5149, Timedelta('0 days 00:00:54'), Timestamp('2023-05-10 10:07:47')),
 (5157, Timedelta('0 days 00:00:33'), Timestamp('2023-05-10 10:46:10')),
 (5179, Timedelta('0 days 00:01:00'), Timestamp('2023-05-10 11:15:36')),
 (5230, Timedelta('0 days 00:00:22'), Timestamp('2023-05-10 13:30:08')),
 (5242, Timedelta('0 days 00:00:57'), Timestamp('2023-05-10 13:50:09')),
 (5278, Timedelta('0 days 00:00:11'), Timestamp('2023-05-10 14:29:03')),
 (5390, Timedelta('0 days 00:00:59'), Timestamp('2023-05-10 17:39:31')),
 (5440, Timedelta('0 days 00:00:26'), Timestamp('2023-05-11 07:20:05')),
 (5507, Timedelta('0 days 00:00:41'), Timestamp('2023-05-11 17:26:21')),
 (5547, Timedelta('0 days 00:00:38'), Timestamp('2023-05-12 06:53:38')),
 (5552, Timedelta('0 days 00:00:12'), Timestamp('2023-05-12 09:54:10')),
 (5576, Timedelta('0 days 00:00:32'), Timestamp('2023-05-12 10:19:36')),
 (5599, Timedelta('0 days 00:00:43'), Timestamp('2023-05-12 11:57:58')),
 (5653, Timedelta('0 days 00:00:43'), Timestamp('2023-05-12 17:07:56')),
 (5659, Timedelta('0 days 00:00:10'), Timestamp('2023-05-13 08:24:54')),
 (5663, Timedelta('0 days 00:00:48'), Timestamp('2023-05-13 08:58:50')),
 (5670, Timedelta('0 days 00:00:22'), Timestamp('2023-05-13 09:19:26')),
 (5678, Timedelta('0 days 00:01:00'), Timestamp('2023-05-13 10:23:21')),
 (5685, Timedelta('0 days 00:01:00'), Timestamp('2023-05-13 11:20:06')),
 (5692, Timedelta('0 days 00:00:44'), Timestamp('2023-05-13 11:32:00')),
 (5696, Timedelta('0 days 00:00:58'), Timestamp('2023-05-13 11:44:07')),
 (5719, Timedelta('0 days 00:00:55'), Timestamp('2023-05-13 16:42:13')),
 (5738, Timedelta('0 days 00:01:00'), Timestamp('2023-05-13 18:33:07')),
 (5792, Timedelta('0 days 00:01:00'), Timestamp('2023-05-15 07:22:29')),
 (5801, Timedelta('0 days 00:00:45'), Timestamp('2023-05-15 16:28:35')),
 (5847, Timedelta('0 days 00:00:47'), Timestamp('2023-05-15 18:03:30')),
 (5963, Timedelta('0 days 00:01:00'), Timestamp('2023-05-16 09:18:00')),
 (5977, Timedelta('0 days 00:00:44'), Timestamp('2023-05-16 09:45:52')),
 (5994, Timedelta('0 days 00:00:49'), Timestamp('2023-05-16 10:25:04')),
 (6005, Timedelta('0 days 00:00:45'), Timestamp('2023-05-16 10:41:10')),
 (6017, Timedelta('0 days 00:01:00'), Timestamp('2023-05-16 12:03:25')),
 (6037, Timedelta('0 days 00:00:58'), Timestamp('2023-05-16 12:25:11')),
 (6092, Timedelta('0 days 00:00:34'), Timestamp('2023-05-16 13:22:50')),
 (6116, Timedelta('0 days 00:01:00'), Timestamp('2023-05-16 13:57:24')),
 (6179, Timedelta('0 days 00:00:36'), Timestamp('2023-05-16 16:15:55')),
 (6184, Timedelta('0 days 00:00:38'), Timestamp('2023-05-16 16:23:13')),
 (6264, Timedelta('0 days 00:01:00'), Timestamp('2023-05-17 08:48:09')),
 (6287, Timedelta('0 days 00:00:09'), Timestamp('2023-05-17 10:27:58')),
 (6305, Timedelta('0 days 00:01:00'), Timestamp('2023-05-17 12:13:24')),
 (6336, Timedelta('0 days 00:00:24'), Timestamp('2023-05-17 12:43:59')),
 (6357, Timedelta('0 days 00:00:20'), Timestamp('2023-05-17 13:53:50')),
 (6399, Timedelta('0 days 00:00:42'), Timestamp('2023-05-17 14:38:31')),
 (6472, Timedelta('0 days 00:00:57'), Timestamp('2023-05-17 18:17:42')),
 (6481, Timedelta('0 days 00:00:30'), Timestamp('2023-05-17 18:53:58')),
 (6496, Timedelta('0 days 00:01:00'), Timestamp('2023-05-17 19:11:07')),
 (6519, Timedelta('0 days 00:00:25'), Timestamp('2023-05-17 21:58:12')),
 (6526, Timedelta('0 days 00:00:23'), Timestamp('2023-05-18 08:43:04')),
 (6533, Timedelta('0 days 00:00:16'), Timestamp('2023-05-18 09:43:39')),
 (6536, Timedelta('0 days 00:00:59'), Timestamp('2023-05-18 12:02:10')),
 (6540, Timedelta('0 days 00:00:49'), Timestamp('2023-05-18 12:15:05')),
 (6576, Timedelta('0 days 00:00:48'), Timestamp('2023-05-19 07:02:00')),
 (6620, Timedelta('0 days 00:00:56'), Timestamp('2023-05-19 17:10:03')),
 (6642, Timedelta('0 days 00:00:52'), Timestamp('2023-05-20 08:47:34')),
 (6648, Timedelta('0 days 00:00:57'), Timestamp('2023-05-20 11:36:52')),
 (6653, Timedelta('0 days 00:00:42'), Timestamp('2023-05-20 11:52:07')),
 (6678, Timedelta('0 days 00:00:17'), Timestamp('2023-05-20 14:53:30')),
 (6682, Timedelta('0 days 00:00:27'), Timestamp('2023-05-20 15:02:42')),
 (6690, Timedelta('0 days 00:00:24'), Timestamp('2023-05-21 12:01:05')),
 (6694, Timedelta('0 days 00:00:34'), Timestamp('2023-05-21 12:12:31')),
 (6698, Timedelta('0 days 00:00:36'), Timestamp('2023-05-21 16:15:24')),
 (6702, Timedelta('0 days 00:00:37'), Timestamp('2023-05-21 16:23:38')),
 (6750, Timedelta('0 days 00:00:10'), Timestamp('2023-05-22 10:48:56')),
 (6791, Timedelta('0 days 00:00:45'), Timestamp('2023-05-22 12:06:50')),
 (6796, Timedelta('0 days 00:00:31'), Timestamp('2023-05-22 16:40:28')),
 (6844, Timedelta('0 days 00:00:37'), Timestamp('2023-05-22 18:18:40')),
 (6855, Timedelta('0 days 00:00:47'), Timestamp('2023-05-22 18:36:33')),
 (6950, Timedelta('0 days 00:00:53'), Timestamp('2023-05-23 09:10:40')),
 (6965, Timedelta('0 days 00:00:39'), Timestamp('2023-05-23 09:56:52')),
 (6970, Timedelta('0 days 00:00:35'), Timestamp('2023-05-23 10:08:12')),
 (6988, Timedelta('0 days 00:00:21'), Timestamp('2023-05-23 10:29:34')),
 (7006, Timedelta('0 days 00:00:52'), Timestamp('2023-05-23 10:46:34')),
 (7015, Timedelta('0 days 00:00:47'), Timestamp('2023-05-23 10:57:25')),
 (7089, Timedelta('0 days 00:01:00'), Timestamp('2023-05-23 12:52:05')),
 (7092, Timedelta('0 days 00:00:40'), Timestamp('2023-05-23 13:29:29')),
 (7113, Timedelta('0 days 00:00:31'), Timestamp('2023-05-23 14:02:54')),
 (7204, Timedelta('0 days 00:00:57'), Timestamp('2023-05-23 17:42:56')),
 (7253, Timedelta('0 days 00:00:16'), Timestamp('2023-05-24 07:17:13')),
 (7290, Timedelta('0 days 00:00:49'), Timestamp('2023-05-24 09:08:04')),
 (7310, Timedelta('0 days 00:00:59'), Timestamp('2023-05-24 09:43:39')),
 (7315, Timedelta('0 days 00:00:27'), Timestamp('2023-05-24 09:50:44')),
 (7342, Timedelta('0 days 00:00:23'), Timestamp('2023-05-24 10:33:07')),
 (7384, Timedelta('0 days 00:00:45'), Timestamp('2023-05-24 11:35:11')),
 (7440, Timedelta('0 days 00:00:38'), Timestamp('2023-05-24 13:15:58')),
 (7446, Timedelta('0 days 00:00:17'), Timestamp('2023-05-24 16:49:24')),
 (7508, Timedelta('0 days 00:00:14'), Timestamp('2023-05-24 18:40:03')),
 (7551, Timedelta('0 days 00:00:36'), Timestamp('2023-05-25 07:14:21')),
 (7607, Timedelta('0 days 00:01:00'), Timestamp('2023-05-25 18:05:38')),
 (7647, Timedelta('0 days 00:00:13'), Timestamp('2023-05-26 07:16:43')),
 (7715, Timedelta('0 days 00:00:48'), Timestamp('2023-05-26 17:44:53')),
 (7718, Timedelta('0 days 00:00:43'), Timestamp('2023-05-26 19:51:54')),
 (7721, Timedelta('0 days 00:00:57'), Timestamp('2023-05-26 19:58:58')),
 (7735, Timedelta('0 days 00:01:00'), Timestamp('2023-05-27 11:33:26')),
 (7750, Timedelta('0 days 00:00:39'), Timestamp('2023-05-27 12:41:19')),
 (7754, Timedelta('0 days 00:00:41'), Timestamp('2023-05-27 12:54:45')),
 (7776, Timedelta('0 days 00:00:26'), Timestamp('2023-05-27 23:10:37')),

In [374]:
len(toggles)

354

In [177]:
#sorted(toggles, key= lambda x: x[0])

In [41]:
df[8940:8950]

                DateTimeOfPosition  IgnitionOn       long       lat
UnitpositionID
644958974      2023-06-03 01:16:02           0  52.203644  5.973617
645009214      2023-06-03 10:05:27           1  52.203595  5.973530
645009613      2023-06-03 10:06:26           1  52.203997  5.971517
645009860      2023-06-03 10:07:26           1  52.205637  5.968409
645009957      2023-06-03 10:07:53           0  52.205410  5.967754
645011387      2023-06-03 10:15:33           1  52.205271  5.967834
645011591      2023-06-03 10:16:32           1  52.204327  5.969279
645011763      2023-06-03 10:17:32           1  52.203842  5.973512
645011912      2023-06-03 10:18:16           0  52.203316  5.973202
645012308      2023-06-03 10:20:35           0  52.203312  5.973224

In [376]:
double_zeros

[39,
 47,
 61,
 76,
 119,
 125,
 181,
 276,
 322,
 380,
 583,
 628,
 692,
 750,
 820,
 974,
 1000,
 1026,
 1121,
 1203,
 1267,
 1320,
 1363,
 1368,
 1388,
 1579,
 1618,
 1677,
 1896,
 1936,
 1956,
 2013,
 2059,
 2065,
 2111,
 2175,
 2228,
 2271,
 2318,
 2368,
 2595,
 2687,
 2747,
 2788,
 2829,
 2840,
 2893,
 2949,
 3042,
 3200,
 3331,
 3372,
 3491,
 3544,
 3583,
 3594,
 3699,
 3950,
 3994,
 4042,
 4144,
 4312,
 4385,
 4446,
 4486,
 4536,
 4574,
 4618,
 4645,
 4669,
 4695,
 4715,
 4765,
 4802,
 4914,
 5004,
 5391,
 5441,
 5508,
 5548,
 5654,
 5679,
 5686,
 5739,
 5793,
 5848,
 5964,
 6018,
 6117,
 6185,
 6265,
 6306,
 6497,
 6520,
 6541,
 6621,
 6654,
 6683,
 6703,
 6792,
 6856,
 7090,
 7205,
 7441,
 7509,
 7552,
 7608,
 7722,
 7736,
 7777,
 7798,
 7883,
 8023,
 8098,
 8265,
 8349,
 8486,
 8718,
 8758,
 8801,
 8870,
 8875,
 8885,
 8948,
 9014,
 9165,
 9381,
 9425,
 9468,
 9517,
 9571,
 9586,
 9710,
 9762,
 9803,
 9878,
 9908,
 9916,
 9966,
 10024,
 10521,
 10580,
 10625]

In [377]:

# for i in range(1, len(df)):
#     if df.IgnitionOn.iloc[i] != df.IgnitionOn.iloc[i-1]:
#         if  df.IgnitionOn.iloc[i] == 0:
#             if (i+2) < len(df) and df.IgnitionOn.iloc[i] == df.IgnitionOn.iloc[i+1] and df.IgnitionOn.iloc[i] == df.IgnitionOn.iloc[i+2]:
#                 print(i)

In [378]:
keep = [toggle[0] for toggle in toggles]

In [380]:
to_remove = list()
for val in df[df.IgnitionOn == 0].index.values:
    if val == 0: 
        continue
    if val not in keep:
        to_remove.append(val)

In [381]:
len(to_remove)

551

In [382]:
len(keep)

354

In [364]:
#df.head(50)

In [383]:
cleaned_df = df.drop(index=to_remove)

In [321]:
cleaned_df.sort_values("DateTimeOfPosition", ascending=True, inplace=True)

In [385]:
cleaned_df

       UnitpositionID  DateTimeOfPosition  IgnitionOn       long       lat
0           631414692 2023-04-01 08:50:30           0  53.389323  5.270153
1           631418242 2023-04-01 09:19:54           1  53.389274  5.269988
2           631418385 2023-04-01 09:20:53           1  53.389564  5.270365
3           631418504 2023-04-01 09:21:53           1  53.389952  5.274539
4           631418653 2023-04-01 09:22:53           1  53.391285  5.282144
...               ...                 ...         ...        ...       ...
10689       647742004 2023-06-14 17:12:23           1  52.182162  5.982590
10690       647742183 2023-06-14 17:13:23           1  52.188936  5.980637
10691       647742362 2023-06-14 17:14:23           1  52.193207  5.978572
10692       647742547 2023-06-14 17:15:23           1  52.200175  5.979859
10693       647742726 2023-06-14 17:16:23           1  52.203792  5.975125

[10076 rows x 5 columns]

## Get Stops

In [282]:
traj = mpd.Trajectory(cleaned_df[["DateTimeOfPosition", "long", "lat"]].sort_values("DateTimeOfPosition", ascending=False), "Allsetra", x='lat', y='long', t='DateTimeOfPosition', crs=4326)

detector = mpd.TrajectoryStopDetector(traj)
stops = detector.get_stop_points(min_duration=timedelta(seconds=180), max_diameter=200)

In [283]:
stops

,geometry,start_time,end_time,traj_id,duration_s
stop_id,,,,,
Allsetra_2023-04-01 08:50:30,POINT (5.27015 53.38932),2023-04-01 08:50:30,2023-04-01 09:20:53,Allsetra,1823.0
Allsetra_2023-04-01 09:23:53,POINT (5.28454 53.39195),2023-04-01 09:23:53,2023-04-01 11:07:38,Allsetra,6225.0
Allsetra_2023-04-01 11:11:32,POINT (5.27045 53.38903),2023-04-01 11:11:32,2023-04-01 12:19:03,Allsetra,4051.0
Allsetra_2023-04-01 12:26:22,POINT (5.30668 53.38933),2023-04-01 12:26:22,2023-04-01 12:37:27,Allsetra,665.0
Allsetra_2023-04-01 12:44:19,POINT (5.26995 53.38891),2023-04-01 12:44:19,2023-04-01 14:47:48,Allsetra,7409.0
...,...,...,...,...,...
Allsetra_2023-06-13 11:13:35,POINT (4.84507 51.93224),2023-06-13 11:13:35,2023-06-13 12:26:03,Allsetra,4348.0
Allsetra_2023-06-13 12:49:16,POINT (4.91754 51.74379),2023-06-13 12:49:16,2023-06-13 13:19:15,Allsetra,1799.0
Allsetra_2023-06-13 13:49:15,POINT (5.06728 51.58905),2023-06-13 13:49:15,2023-06-13 14:48:58,Allsetra,3583.0
Allsetra_2023-06-13 16:16:57,POINT (5.97340 52.20359),2023-06-13 16:16:57,2023-06-14 06:43:06,Allsetra,51969.0
Allsetra_2023-06-14 07:38:21,POINT (5.37665 52.15520),2023-06-14 07:38:21,2023-06-14 16:34:24,Allsetra,32163.0

In [323]:
cleaned_df.reset_index(inplace=True)
cleaned_df.drop("index", axis=1, inplace=True)
# Iterate through the DataFrame rows
for i in range(1, len(cleaned_df.index)):
    # Get the coordinates of the current and previous points
    lon1, lat1 = cleaned_df["long"].iloc[i], cleaned_df["lat"].iloc[i]
    lon2, lat2 = cleaned_df["long"].iloc[i-1], cleaned_df["lat"].iloc[i-1]
    
    # Calculate the Haversine distance between the points
    dist = haversine((lon1, lat1), (lon2, lat2), unit=Unit.KILOMETERS)
    duration = cleaned_df["DateTimeOfPosition"].iloc[i] - cleaned_df["DateTimeOfPosition"].iloc[i-1]
    # Update the Haversine distance in the DataFrame
    cleaned_df.at[i, 'haversine_distance'] = dist
    cleaned_df.at[i, 'duration'] = duration

In [326]:
cleaned_df.sort_values("haversine_distance", ascending=False)

,index,UnitpositionID,DateTimeOfPosition,IgnitionOn,long,lat,haversine_distance,duration
173,183,631817254,2023-04-03 17:15:39,1,53.177227,5.412910,23.863617,0 days 00:00:59
8284,8483,644338387,2023-05-31 15:42:56,1,52.324896,5.006019,4.263616,0 days 00:01:00
4828,4948,639463194,2023-05-09 13:32:37,1,52.324459,5.005575,4.192140,0 days 00:01:00
6435,6597,641542168,2023-05-19 06:38:12,1,52.187022,5.868476,4.179075,0 days 00:02:00
6440,6602,641542822,2023-05-19 06:44:12,1,52.191777,5.701592,3.985609,0 days 00:02:00
...,...,...,...,...,...,...,...,...
9118,9339,645683002,2023-06-06 13:05:19,1,52.817542,5.742647,0.000000,0 days 00:01:00
9119,9340,645683235,2023-06-06 13:06:19,1,52.817542,5.742647,0.000000,0 days 00:01:00
8143,8341,644238080,2023-05-31 11:23:30,1,52.010022,4.312554,0.000000,0 days 00:01:00
6938,7113,642465019,2023-05-23 12:27:05,1,51.775852,5.260684,0.000000,0 days 00:01:00
0,0,631414692,2023-04-01 08:50:30,0,53.389323,5.270153,NaN,NaT

In [347]:
cleaned_df[168:180]

,UnitpositionID,DateTimeOfPosition,IgnitionOn,long,lat,haversine_distance,duration
168,631783060,2023-04-03 15:12:33,1,53.357366,5.217147,0.000133,0 days 00:01:00
169,631783482,2023-04-03 15:13:33,1,53.357366,5.217147,0.000000,0 days 00:01:00
170,631783927,2023-04-03 15:14:33,1,53.356975,5.217310,0.044803,0 days 00:01:00
171,631784354,2023-04-03 15:15:33,0,53.356782,5.217236,0.022015,0 days 00:01:00
172,631817093,2023-04-03 17:14:40,1,53.357044,5.217039,0.031932,0 days 01:59:07
173,631817254,2023-04-03 17:15:39,1,53.177227,5.412910,23.863617,0 days 00:00:59
174,631817412,2023-04-03 17:16:39,1,53.177327,5.413247,0.025061,0 days 00:01:00
175,631817550,2023-04-03 17:17:39,1,53.176904,5.415634,0.165887,0 days 00:01:00
176,631817716,2023-04-03 17:18:39,1,53.174707,5.411680,0.359336,0 days 00:01:00
177,631817868,2023-04-03 17:19:39,1,53.172144,5.412588,0.291348,0 days 00:01:00
178,631818048,2023-04-03 17:20:39,1,53.169900,5.416075,0.340999,0 days 00:01:00
179,631818220,2023-04-03 17:21:39,1,53.162192,5.416483,0.857523,0 days 00:01:00

In [333]:
cleaned_df[8270:8295]

,index,UnitpositionID,DateTimeOfPosition,IgnitionOn,long,lat,haversine_distance,duration
8270,8469,644333607,2023-05-31 15:28:56,1,52.323447,4.766235,1.524785,0 days 00:01:00
8271,8470,644333949,2023-05-31 15:29:56,1,52.326539,4.790489,1.683788,0 days 00:01:00
8272,8471,644334258,2023-05-31 15:30:56,1,52.317909,4.809617,1.615838,0 days 00:01:00
8273,8472,644334608,2023-05-31 15:31:56,1,52.307599,4.826794,1.636385,0 days 00:01:00
8274,8473,644334946,2023-05-31 15:32:56,1,52.304549,4.841924,1.083145,0 days 00:01:00
8275,8474,644335305,2023-05-31 15:33:56,1,52.300249,4.858955,1.252852,0 days 00:01:00
8276,8475,644335633,2023-05-31 15:34:56,1,52.296955,4.876260,1.232442,0 days 00:01:00
8277,8476,644335981,2023-05-31 15:35:56,1,52.295334,4.887736,0.800967,0 days 00:01:00
8278,8477,644336323,2023-05-31 15:36:56,1,52.289964,4.907094,1.445623,0 days 00:01:00
8279,8478,644336715,2023-05-31 15:37:56,1,52.286257,4.931394,1.703439,0 days 00:01:00
8280,8479,644337047,2023-05-31 15:38:56,1,52.284332,4.952115,1.425632,0 days 00:01:00
8281,8480,644337413,2023-05-31 15:39:56,1,52.296639,4.940805,1.569856,0 days 00:01:00
8282,8481,644337745,2023-05-31 15:40:56,1,52.302317,4.955326,1.172018,0 days 00:01:00
8283,8482,644338038,2023-05-31 15:41:56,1,52.302317,4.955326,0.000000,0 days 00:01:00
8284,8483,644338387,2023-05-31 15:42:56,1,52.324896,5.006019,4.263616,0 days 00:01:00
8285,8484,644338772,2023-05-31 15:43:56,1,52.331384,5.029685,1.762638,0 days 00:01:00
8286,8485,644339088,2023-05-31 15:44:56,1,52.325972,5.055651,1.864311,0 days 00:01:00
8287,8486,644339415,2023-05-31 15:45:56,1,52.320784,5.082149,1.891021,0 days 00:01:00
8288,8487,644339754,2023-05-31 15:46:56,1,52.314864,5.104552,1.658956,0 days 00:01:00
8289,8488,644340050,2023-05-31 15:47:56,1,52.307869,5.126134,1.660598,0 days 00:01:00
8290,8489,644340391,2023-05-31 15:48:56,1,52.305969,5.151032,1.705903,0 days 00:01:00
8291,8490,644340753,2023-05-31 15:49:56,1,52.300484,5.172185,1.562247,0 days 00:01:00
8292,8491,644340993,2023-05-31 15:50:56,1,52.287072,5.183508,1.678425,0 days 00:01:00
8293,8492,644341282,2023-05-31 15:51:56,1,52.273697,5.191434,1.581961,0 days 00:01:00
8294,8493,644341635,2023-05-31 15:52:56,1,52.264826,5.207212,1.457974,0 days 00:01:00

## Using Ignition to detect stops and then trips using stops

In [343]:
zero_indexes = cleaned_df[cleaned_df["IgnitionOn"] == 0].index.to_list()

In [ ]:
idx = 0 
while idx < len(cleaned_df):
    if idx+1 > len(cleaned_df):
        break
    start_idx = zero_indexes[idx+1]
    end_idx = zero_indexes[]

In [341]:
cleaned_df

,UnitpositionID,DateTimeOfPosition,IgnitionOn,long,lat,haversine_distance,duration
0,631414692,2023-04-01 08:50:30,0,53.389323,5.270153,NaN,NaT
1,631418242,2023-04-01 09:19:54,1,53.389274,5.269988,0.012223,0 days 00:29:24
2,631418385,2023-04-01 09:20:53,1,53.389564,5.270365,0.040803,0 days 00:00:59
3,631418504,2023-04-01 09:21:53,1,53.389952,5.274539,0.280134,0 days 00:01:00
4,631418653,2023-04-01 09:22:53,1,53.391285,5.282144,0.525633,0 days 00:01:00
...,...,...,...,...,...,...,...
10439,647742183,2023-06-14 17:13:23,1,52.188936,5.980637,0.764913,0 days 00:01:00
10440,647742362,2023-06-14 17:14:23,1,52.193207,5.978572,0.495336,0 days 00:01:00
10441,647742547,2023-06-14 17:15:23,1,52.200175,5.979859,0.779757,0 days 00:01:00
10442,647742726,2023-06-14 17:16:23,1,52.203792,5.975125,0.515598,0 days 00:01:00
10443,647742890,2023-06-14 17:17:23,0,52.203289,5.972705,0.174142,0 days 00:01:00

In [344]:
zero_indexes

[0,
 8,
 14,
 23,
 31,
 38,
 45,
 58,
 72,
 83,
 93,
 111,
 116,
 171,
 265,
 310,
 367,
 418,
 462,
 513,
 571,
 615,
 680,
 687,
 717,
 737,
 806,
 815,
 825,
 829,
 893,
 924,
 954,
 958,
 981,
 1005,
 1010,
 1017,
 1055,
 1096,
 1100,
 1140,
 1176,
 1180,
 1194,
 1240,
 1292,
 1297,
 1334,
 1338,
 1357,
 1431,
 1492,
 1549,
 1587,
 1645,
 1649,
 1655,
 1674,
 1732,
 1827,
 1841,
 1864,
 1868,
 1902,
 1921,
 1976,
 2021,
 2026,
 2072,
 2081,
 2084,
 2087,
 2132,
 2184,
 2226,
 2271,
 2319,
 2404,
 2428,
 2436,
 2476,
 2479,
 2485,
 2519,
 2548,
 2581,
 2640,
 2700,
 2730,
 2732,
 2740,
 2745,
 2779,
 2783,
 2787,
 2837,
 2842,
 2891,
 2950,
 2984,
 3014,
 3058,
 3098,
 3142,
 3147,
 3167,
 3251,
 3271,
 3289,
 3311,
 3320,
 3374,
 3430,
 3433,
 3437,
 3454,
 3461,
 3481,
 3517,
 3527,
 3585,
 3610,
 3630,
 3667,
 3694,
 3696,
 3698,
 3707,
 3709,
 3711,
 3714,
 3726,
 3728,
 3735,
 3746,
 3753,
 3779,
 3781,
 3801,
 3811,
 3819,
 3876,
 3880,
 3903,
 3921,
 3937,
 3968,
 3973,
 4009,
 4014,
 4022,
 4072,
 4123,
 4140,
 4188,
 4194,
 4239,
 4278,
 4310,
 4356,
 4370,
 4409,
 4458,
 4495,
 4537,
 4558,
 4560,
 4562,
 4585,
 4607,
 4612,
 4625,
 4673,
 4709,
 4713,
 4820,
 4857,
 4909,
 4986,
 5054,
 5062,
 5084,
 5135,
 5147,
 5183,
 5297,
 5345,
 5410,
 5448,
 5452,
 5476,
 5501,
 5555,
 5560,
 5564,
 5571,
 5579,
 5585,
 5591,
 5595,
 5618,
 5637,
 5688,
 5693,
 5741,
 5856,
 5869,
 5886,
 5897,
 5909,
 5928,
 5983,
 6009,
 6071,
 6076,
 6154,
 6176,
 6194,
 6224,
 6245,
 6287,
 6360,
 6369,
 6384,
 6405,
 6411,
 6420,
 6423,
 6427,
 6458,
 6503,
 6523,
 6529,
 6534,
 6558,
 6562,
 6566,
 6570,
 6574,
 6578,
 6623,
 6664,
 6668,
 6719,
 6730,
 6824,
 6839,
 6844,
 6862,
 6880,
 6889,
 6963,
 6965,
 6988,
 7079,
 7126,
 7163,
 7183,
 7188,
 7215,
 7257,
 7313,
 7318,
 7383,
 7426,
 7481,
 7518,
 7586,
 7589,
 7592,
 7603,
 7617,
 7621,
 7643,
 7663,
 7744,
 7783,
 7810,
 7824,
 7883,
 7889,
 7942,
 7957,
 7962,
 8071,
 8105,
 8111,
 8123,
 8181,
 8200,
 8209,
 8240,
 8348,
 8383,
 8426,
 8428,
 8447,
 8449,
 8475,
 8525,
 8580,
 8617,
 8637,
 8659,
 8727,
 8731,
 8735,
 8739,
 8745,
 8796,
 8856,
 8859,
 8938,
 8954,
 9008,
 9019,
 9030,
 9050,
 9167,
 9223,
 9246,
 9266,
 9268,
 9308,
 9356,
 9409,
 9423,
 9473,
 9510,
 9525,
 9545,
 9596,
 9636,
 9659,
 9707,
 9711,
 9735,
 9738,
 9742,
 9746,
 9769,
 9791,
 9847,
 9902,
 9974,
 10024,
 10082,
 10188,
 10215,
 10217,
 10254,
 10343,
 10401,
 10443]

                            GPSpoint  DateTimeOfPosition  IgnitionOn
UnitpositionID
647751005       N52.203256,E5.972714 2023-06-14 18:15:03           0
647742914       N52.203289,E5.972705 2023-06-14 17:17:28           0
647742890       N52.203289,E5.972705 2023-06-14 17:17:23           0
647742726       N52.203792,E5.975125 2023-06-14 17:16:23           1
647742547       N52.200175,E5.979859 2023-06-14 17:15:23           1
...                              ...                 ...         ...
631418653       N53.391285,E5.282144 2023-04-01 09:22:53           1
631418504       N53.389952,E5.274539 2023-04-01 09:21:53           1
631418385       N53.389564,E5.270365 2023-04-01 09:20:53           1
631418242       N53.389274,E5.269988 2023-04-01 09:19:54           1
631414692       N53.389323,E5.270153 2023-04-01 08:50:30           0

[10697 rows x 3 columns]

In [353]:
df.reset_index(inplace=True)

In [354]:
df[df["DateTimeOfPosition"] == "2023-04-03 17:15:39"]

       UnitpositionID              GPSpoint  DateTimeOfPosition  IgnitionOn
10513       631817254  N53.177227,E5.412910 2023-04-03 17:15:39           1

In [355]:
df[10510:10518]

       UnitpositionID              GPSpoint  DateTimeOfPosition  IgnitionOn
10510       631817716  N53.174707,E5.411680 2023-04-03 17:18:39           1
10511       631817550  N53.176904,E5.415634 2023-04-03 17:17:39           1
10512       631817412  N53.177327,E5.413247 2023-04-03 17:16:39           1
10513       631817254  N53.177227,E5.412910 2023-04-03 17:15:39           1
10514       631817093  N53.357044,E5.217039 2023-04-03 17:14:40           1
10515       631784359  N53.356782,E5.217236 2023-04-03 15:15:34           0
10516       631784354  N53.356782,E5.217236 2023-04-03 15:15:33           0
10517       631783927  N53.356975,E5.217310 2023-04-03 15:14:33           1

In [216]:
traj

Trajectory Allsetra (2023-04-01 08:50:30 to 2023-06-14 17:17:23) | Size: 10381 | Length: 10047519.6m
Bounds: (3.752368, 51.132597, 6.922458, 53.40297)
LINESTRING (5.270153 53.389323, 5.269988 53.389274, 5.270365 53.389564, 5.274539 53.389952, 5.282144

In [217]:
splitted_traj = mpd.ObservationGapSplitter(traj).split(gap=timedelta(minutes=3))

In [218]:
dfs = [splitted.df for splitted in splitted_traj.trajectories]

combined_dfs = pd.concat(dfs)

In [219]:
combined_dfs

                                     geometry
DateTimeOfPosition
2023-04-01 09:19:54  POINT (5.26999 53.38927)
2023-04-01 09:20:53  POINT (5.27036 53.38956)
2023-04-01 09:21:53  POINT (5.27454 53.38995)
2023-04-01 09:22:53  POINT (5.28214 53.39129)
2023-04-01 09:23:53  POINT (5.28571 53.39155)
...                                       ...
2023-06-14 17:13:23  POINT (5.98064 52.18894)
2023-06-14 17:14:23  POINT (5.97857 52.19321)
2023-06-14 17:15:23  POINT (5.97986 52.20018)
2023-06-14 17:16:23  POINT (5.97513 52.20379)
2023-06-14 17:17:23  POINT (5.97271 52.20329)

[10380 rows x 1 columns]

In [220]:
data = {}
start_addrs = []
end_addrs = []
start_timestamps = []
end_timestamps = []
start_longs_and_lats = []
end_longs_and_lats = []
distances = []
durations = []

for idx, trajectory in enumerate(splitted_traj.trajectories):
        
    start_time = trajectory.df.index[0]
    end_time = trajectory.df.index[-1]
    
    start_timestamps.append(start_time)
    end_timestamps.append(end_time)
    
    #durations.append(str(end_time - start_time).split("days")[-1].split(".")[0])
    durations.append(end_time - start_time)

    start_xy = (trajectory.df["geometry"].x[0], trajectory.df["geometry"].y[0])
    end_xy = (trajectory.df["geometry"].x[-1], trajectory.df["geometry"].y[-1])
    
    
#     start_addrs.append(get_address_from_GeoPoint(trajectory.df["geometry"].iloc[0]))
#     end_addrs.append(get_address_from_GeoPoint(trajectory.df["geometry"].iloc[-1]))

    start_longs_and_lats.append(start_xy)
    end_longs_and_lats.append(end_xy)
    
    distances.append(haversine(start_xy, end_xy, unit=Unit.KILOMETERS))
    
# data["start_trip_addr"] = start_addrs
# data["end_trip_addr"] = end_addrs

data["start_trip_time"] = start_timestamps
data["end_trip_time"] = end_timestamps

data["start_gps_point"] = start_longs_and_lats
data["end_gps_point"] = end_longs_and_lats

data["trip_distance_in_km"] = distances

data["trip_duration"] = durations

In [221]:
splitted_df = pd.DataFrame(data)

In [223]:
splitted_df["trip_distance_in_km"].describe()

count    321.000000
mean      35.571719
std       37.991533
min        0.005036
25%        2.100296
50%       19.120770
75%       66.533134
max      196.985192
Name: trip_distance_in_km, dtype: float64

In [224]:
traj_col = mpd.StopSplitter(traj).split(max_diameter=200, min_duration=timedelta(seconds=180))

In [225]:
data = {}
start_addrs = []
end_addrs = []
start_timestamps = []
end_timestamps = []
start_longs_and_lats = []
end_longs_and_lats = []
distances = []
durations = []

for idx, trajectory in enumerate(traj_col.trajectories):
        
    start_time = trajectory.df.index[0]
    end_time = trajectory.df.index[-1]
    
    start_timestamps.append(start_time)
    end_timestamps.append(end_time)
    
    #durations.append(str(end_time - start_time).split("days")[-1].split(".")[0])
    durations.append(end_time - start_time)

    start_xy = (trajectory.df["geometry"].x[0], trajectory.df["geometry"].y[0])
    end_xy = (trajectory.df["geometry"].x[-1], trajectory.df["geometry"].y[-1])
    
    
#     start_addrs.append(get_address_from_GeoPoint(trajectory.df["geometry"].iloc[0]))
#     end_addrs.append(get_address_from_GeoPoint(trajectory.df["geometry"].iloc[-1]))

    start_longs_and_lats.append(start_xy)
    end_longs_and_lats.append(end_xy)
    
    distances.append(haversine(start_xy, end_xy, unit=Unit.KILOMETERS))
    
# data["start_trip_addr"] = start_addrs
# data["end_trip_addr"] = end_addrs

data["start_trip_time"] = start_timestamps
data["end_trip_time"] = end_timestamps

data["start_gps_point"] = start_longs_and_lats
data["end_gps_point"] = end_longs_and_lats

data["trip_distance_in_km"] = distances

data["trip_duration"] = durations

In [226]:
final_df = pd.DataFrame(data)

,start_trip_time,end_trip_time,start_gps_point,end_gps_point,trip_distance_in_km,trip_duration
242,2023-05-23 14:02:23,2023-05-23 14:02:54,"(5.138236, 51.805305)","(5.138526, 51.80536)",0.032817,0 days 00:00:31
279,2023-05-31 10:09:19,2023-05-31 10:11:19,"(4.266264, 51.948608)","(4.266095, 51.949544)",0.105478,0 days 00:02:00
176,2023-05-12 10:19:04,2023-05-12 10:19:36,"(5.475605, 52.230535)","(5.476698, 52.230639)",0.122080,0 days 00:00:32
283,2023-05-31 12:01:47,2023-05-31 12:02:46,"(4.302497, 52.107512)","(4.302994, 52.106496)",0.125481,0 days 00:00:59
205,2023-05-17 08:47:09,2023-05-17 08:48:09,"(6.36022, 51.903295)","(6.359983, 51.901352)",0.216333,0 days 00:01:00
...,...,...,...,...,...,...
13,2023-04-03 17:14:40,2023-04-03 18:47:38,"(5.217039, 53.357044)","(5.973632, 52.203424)",152.892231,0 days 01:32:58
339,2023-06-13 09:29:39,2023-06-13 11:13:35,"(6.002124, 51.185532)","(4.84507, 51.932242)",152.922515,0 days 01:43:56
171,2023-05-10 15:45:33,2023-05-10 17:39:31,"(4.610482, 51.561118)","(5.973216, 52.203351)",167.383830,0 days 01:53:58
285,2023-05-31 15:02:56,2023-05-31 16:46:34,"(4.435926, 52.21384)","(5.973557, 52.203344)",170.980953,0 days 01:43:38
277,2023-05-31 06:25:58,2023-05-31 08:13:31,"(5.976286, 52.193825)","(4.236802, 51.857055)",196.985192,0 days 01:47:33

In [228]:
cleaned_df = final_df[(final_df['trip_duration'].dt.seconds >= 180) & (final_df['trip_distance_in_km'] >= 0.2)]

In [229]:
cleaned_df.sort_values("trip_duration", ascending=False)

,start_trip_time,end_trip_time,start_gps_point,end_gps_point,trip_distance_in_km,trip_duration
261,2023-05-26 19:57:02,2023-05-27 11:33:26,"(5.96819, 52.205382)","(5.919922, 52.206456)",5.368478,0 days 15:36:24
231,2023-05-22 11:27:05,2023-05-22 16:37:57,"(5.567698, 52.042289)","(5.379752, 52.158749)",24.554534,0 days 05:10:52
171,2023-05-10 15:45:33,2023-05-10 17:39:31,"(4.610482, 51.561118)","(5.973216, 52.203351)",167.383830,0 days 01:53:58
191,2023-05-16 07:25:00,2023-05-16 09:18:00,"(5.974655, 52.203694)","(5.06647, 51.586308)",121.931356,0 days 01:53:00
277,2023-05-31 06:25:58,2023-05-31 08:13:31,"(5.976286, 52.193825)","(4.236802, 51.857055)",196.985192,0 days 01:47:33
...,...,...,...,...,...,...
57,2023-04-15 11:08:43,2023-04-15 11:12:01,"(5.965575, 52.200122)","(5.974001, 52.203439)",1.006183,0 days 00:03:18
179,2023-05-13 08:21:44,2023-05-13 08:24:54,"(5.973286, 52.203734)","(5.967759, 52.200595)",0.705843,0 days 00:03:10
273,2023-05-30 15:50:32,2023-05-30 15:53:32,"(6.751147, 52.301627)","(6.75687, 52.295296)",0.945354,0 days 00:03:00
183,2023-05-13 11:17:06,2023-05-13 11:20:06,"(5.975727, 52.204582)","(5.980404, 52.200734)",0.671979,0 days 00:03:00
0,2023-04-01 09:20:53,2023-04-01 09:23:53,"(5.270365, 53.389564)","(5.28571, 53.391549)",1.720386,0 days 00:03:00

In [236]:
cleaned_df[cleaned_df.DateTimeOfPosition == "2023-05-26 19:57:02"]

      UnitpositionID  DateTimeOfPosition  IgnitionOn       long      lat
7774       643436904 2023-05-26 19:57:02           1  52.205382  5.96819

In [246]:
cleaned_df[7540:7600]

      UnitpositionID  DateTimeOfPosition  IgnitionOn       long       lat
7724       643412190 2023-05-26 16:59:05           1  52.163934  5.496288
7725       643412359 2023-05-26 17:00:05           1  52.163471  5.502669
7726       643412545 2023-05-26 17:01:05           1  52.163302  5.504785
7727       643412713 2023-05-26 17:02:05           1  52.163221  5.505840
7728       643412885 2023-05-26 17:03:05           1  52.163174  5.506422
7729       643413059 2023-05-26 17:04:05           1  52.163102  5.507490
7730       643413228 2023-05-26 17:05:05           1  52.163097  5.507648
7731       643413392 2023-05-26 17:06:05           1  52.163005  5.508777
7732       643413548 2023-05-26 17:07:05           1  52.162864  5.510734
7733       643413723 2023-05-26 17:08:05           1  52.162667  5.516639
7734       643413898 2023-05-26 17:09:05           1  52.162859  5.525131
7735       643414070 2023-05-26 17:10:05           1  52.163065  5.529286
7736       643414251 2023-05-26 17:11:05           1  52.163774  5.536480
7737       643414405 2023-05-26 17:12:05           1  52.164380  5.540899
7738       643414567 2023-05-26 17:13:05           1  52.165564  5.549414
7739       643414896 2023-05-26 17:14:05           1  52.166717  5.557995
7740       643415066 2023-05-26 17:15:05           1  52.167452  5.564924
7741       643415237 2023-05-26 17:16:05           1  52.168159  5.574862
7742       643415382 2023-05-26 17:17:05           1  52.168604  5.593712
7743       643415606 2023-05-26 17:18:05           1  52.170037  5.615770
7744       643415871 2023-05-26 17:19:05           1  52.170317  5.618480
7745       643416078 2023-05-26 17:20:05           1  52.170482  5.620012
7746       643416253 2023-05-26 17:21:05           1  52.170687  5.621812
7747       643416424 2023-05-26 17:22:05           1  52.170971  5.624217
7748       643416586 2023-05-26 17:23:05           1  52.174102  5.640496
7749       643416743 2023-05-26 17:24:05           1  52.181414  5.663066
7750       643416914 2023-05-26 17:25:05           1  52.189309  5.687922
7751       643417088 2023-05-26 17:26:05           1  52.192694  5.715567
7752       643417526 2023-05-26 17:27:05           1  52.194889  5.743370
7753       643417685 2023-05-26 17:28:05           1  52.197617  5.769385
7754       643417833 2023-05-26 17:29:05           1  52.201356  5.796560
7755       643417971 2023-05-26 17:30:05           1  52.202697  5.821697
7756       643418103 2023-05-26 17:31:05           1  52.194021  5.838204
7757       643418237 2023-05-26 17:32:05           1  52.187489  5.860260
7758       643418403 2023-05-26 17:33:05           1  52.186781  5.870417
7759       643418531 2023-05-26 17:34:05           1  52.185047  5.889839
7760       643418671 2023-05-26 17:35:05           1  52.182300  5.913612
7761       643418788 2023-05-26 17:36:05           1  52.178786  5.937735
7762       643418918 2023-05-26 17:37:05           1  52.172624  5.960990
7763       643419030 2023-05-26 17:38:05           1  52.173524  5.982019
7764       643419161 2023-05-26 17:39:05           1  52.178987  5.982669
7765       643419286 2023-05-26 17:40:05           1  52.186075  5.982334
7766       643419427 2023-05-26 17:41:05           1  52.192494  5.978769
7767       643419545 2023-05-26 17:42:05           1  52.196335  5.978503
7768       643419666 2023-05-26 17:43:05           1  52.203030  5.977832
7769       643419789 2023-05-26 17:44:05           1  52.203869  5.975560
7770       643419903 2023-05-26 17:44:53           0  52.203434  5.972855
7771       643436261 2023-05-26 19:50:10           1  52.203682  5.972888
7772       643436355 2023-05-26 19:51:11           1  52.204884  5.969336
7773       643436420 2023-05-26 19:51:54           0  52.205397  5.968202
7774       643436904 2023-05-26 19:57:02           1  52.205382  5.968190
7775       643437003 2023-05-26 19:58:01           1  52.203559  5.969484
7776       643437105 2023-05-26 19:58:58           0  52.203427  5.972874
7780       643516130 2023-05-27 11:23:26           1  52.204072  5.969371
7781       643516364 2023-05-27 11:24:26           1  52.208784  5.967605
7782       643516530 2023-05-27 11:25:26           1  52.209099  5.963769
7783       643516730 2023-05-27 11:26:26           1  52.205621  5.958962
7784       643516914 2023-05-27 11:27:26           1  52.205377  5.957727
7785       643517119 2023-05-27 11:28:26           1  52.200957  5.948213
7786       643517309 2023-05-27 11:29:26           1  52.204632  5.941395

,start_trip_time,end_trip_time,start_gps_point,end_gps_point,trip_distance_in_km,trip_duration
0,2023-04-01 09:20:53,2023-04-01 09:23:53,"(5.270365, 53.389564)","(5.28571, 53.391549)",1.720386,0 days 00:03:00
1,2023-04-01 11:07:38,2023-04-01 11:11:32,"(5.284403, 53.391597)","(5.269931, 53.388944)",1.635806,0 days 00:03:54
2,2023-04-01 12:19:03,2023-04-01 12:26:22,"(5.270962, 53.389109)","(5.306682, 53.389323)",3.971959,0 days 00:07:19
3,2023-04-01 12:37:27,2023-04-01 12:44:19,"(5.306676, 53.389332)","(5.269951, 53.388914)",4.083902,0 days 00:06:52
4,2023-04-01 14:47:48,2023-04-01 14:52:01,"(5.272201, 53.389177)","(5.28636, 53.402797)",2.180136,0 days 00:04:13
...,...,...,...,...,...,...
340,2023-06-13 12:26:03,2023-06-13 12:49:16,"(4.846854, 51.931568)","(4.917714, 51.74426)",22.197637,0 days 00:23:13
341,2023-06-13 13:19:15,2023-06-13 13:49:15,"(4.916819, 51.742863)","(5.0676, 51.589485)",23.869822,0 days 00:30:00
342,2023-06-13 14:48:58,2023-06-13 16:16:57,"(5.067325, 51.58887)","(5.973399, 52.203352)",121.556916,0 days 01:27:59
343,2023-06-14 06:43:06,2023-06-14 07:38:21,"(5.974457, 52.203751)","(5.376879, 52.154919)",66.667055,0 days 00:55:15
344,2023-06-14 16:34:24,2023-06-14 17:17:23,"(5.376417, 52.155489)","(5.972705, 52.203289)",66.514910,0 days 00:42:59